# Database Connection String for Prisma
# For local host development (outside Docker connecting directly):
# DATABASE_URL="postgresql://cafe_admin:cafe_secure_pass@localhost:5432/cafe_db?schema=public"

# For Docker environment (internal container routing):
DATABASE_URL="postgresql://cafe_admin:cafe_secure_pass@postgres:5432/cafe_db?schema=public"

# Environment Mode
NODE_ENV=development
PORT=3000

# PROJECT
VERSION=1.0.0